.create-post {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;

  input[type='text'] {
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
  }

  button {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
  }
}
